<nav class="navbar navbar-default">
  <div class="container">
  <a [routerLink]="['/joblist']" >Job Listing</a>
  <a [routerLink]="['/pending']" >Pending Job Application</a>
  <a [routerLink]="['/profile']" >Profile Page</a> 
  <form #searchForm="ngForm" class="navbar-form navbar-right" role="search" (submit)="logSearchForm(searchForm.value)">
    <div class="form-group">
      <i class="glyphicon glyphicon-search"></i>
      <input type="text" name="keyword" class="form-control" placeholder="Search">
    </div>
    <input type="submit" class="btn btn-default" value="Submit">
    </form>  
  </div>   
</nav>
<div class="joblist container">
<div class="row">
  <div class="col-lg-12 col-md-8 col-sm-9 col-xs-12">
      <article>
          <div class="row">
              <div class="col-sm-6 col-md-4">
                  <figure>
                      <img src="../../assets/images/rsz_job_vacancies.png">
                  </figure>
              </div>
              <div class="col-sm-6 col-md-8">
                  <h4>Title:  PHP/Java/UX Developer</h4>
                  <p>Job Description: you will be responsible for the development and augmentation of the software components which will be used to solve analytical problems of large enterprises. These components would implement complex algorithms while being highly scalable in a multi data source environment.</p>
                  <section>
            <i class="glyphicon glyphicon-globe"></i>Location: New York, NY
                      <i class="glyphicon glyphicon-tasks"></i>Skills: Java/Hadoop/Big Data							
                      <i class="glyphicon glyphicon-user"></i>Experience Required: 3+ Years
                      <p><i class="glyphicon glyphicon-calendar"></i>End Date: 2017/9/28
                      <i class="glyphicon glyphicon-time"></i>Job Type: Full Time</p>
                      <a href="#" class="btn btn-default btn-sm pull-right">Apply Now</a>
                  </section>
              </div>
          </div>
    </article>
    
    <article>
          <div class="row">
              <div class="col-sm-6 col-md-4">
                  <figure>
                      <img src="../../assets/images/rsz_job_vacancies.png">
                  </figure>
              </div>
              <div class="col-sm-6 col-md-8">
                  <h4>Title:  PHP/Java/UX Developer</h4>
                  <p>Job Description: you will be responsible for the development and augmentation of the software components which will be used to solve analytical problems of large enterprises. These components would implement complex algorithms while being highly scalable in a multi data source environment.</p>
                  <section>
            <i class="glyphicon glyphicon-folder-open"></i>Location: New York, NY
                      <i class="glyphicon glyphicon-user"></i>Skills: Java/Hadoop/Big Data							
                      <i class="glyphicon glyphicon-user"></i>Experience Required: 3+ Years
                      <i class="glyphicon glyphicon-calendar"></i>End Date: 2017/9/28
                      <i class="glyphicon glyphicon-eye-open"></i>Job Type: Full Time
                      <a href="#" class="btn btn-default btn-sm pull-right">Apply Now</a>
                  </section>
              </div>
          </div>
      </article>
      
  </div>
</div>
</div>
